.parent {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #eee;
}
.parent div {
  color: white;
  background-color: red;
  width: calc(93% / 3);
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
  font-family: "sans-serif";
}
