:root {
  --main-color: #fe5722;
}
* {
  box-sizing: border-box;
}
h2 {
  background-color: var(--main-color);
  width: 150px;
  padding: 20px 0px;
  text-align: center;
  margin: 10% auto;
  color: white;
  position: relative;
}
h2::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: skew(10deg, 10deg);
  z-index: -1;
}
h2::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: skew(-10deg, -10deg);
  z-index: -1;
}
